.form-customer-info {
    margin-bottom: 24px;
}
.form-paying .container-fluild .container {
    background-color: var(--background-inside-color);
    padding: 36px;
}

.form-customer-paying .form-group input {
    margin-top: 6px;
    width: 10px;
    height: 10px;
}

.form-customer-paying {
    display: flex;
}

.form-customer-paying .form-group {
    margin-top: 8px;
    margin-right: 12px;
}


/* Table product */

.table-voucher {
    width: 100%;
    margin-top: 24px;
}

.table-voucher-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-voucher-btn-group select {
    width: 130px;
    height: 46px;
    text-align: center;
    margin-right: 8px;
    font-weight: bold;
    border-radius: 4px;
}

.table-voucher .table-paying-label {
    font-weight: bold;
}


.form-paying-btn {
    margin-top: 24px;
}


.table-voucher-label  {
    font-size: 18px;
    font-weight: bold;
}

.table-number {
    text-align: right;
    padding-right: 12px;
}

.btn-primary ,.btn-main {
    width: 136px;
    margin-right: 8px;
}

.form-paying-btn-group {
    display: flex;
}

.table-voucher-total {
    font-size: 20px;
    font-weight: bold; 
    color: var(--main-color);
}

