.wrapper {
    background-color: var(--background-color);
    padding: 54px 0;
}

.container {
    background-color: var(--background-inside-color);
    padding: 36px;
}

.statistic-container {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 24px; 
}

.statistic-group {
    margin-right: 24px;
}

.statistic-group input {
    padding: 4px 12px;
    border: 1px solid var(--background-color);
    border-radius: 2px;
}

.statistic-group-label {
    font-size: 18px;
    font-weight: bold;
}

.statistic-number {
    width: 100%;
    background-color: var(--background-color);
    padding: 36px 24px;
}

.statistic-number-group {
    margin-bottom: 12px;
}

.statistic-number-label {
    font-weight: bold;
    font-size: 18px;
    margin-right: 8px;
}

.statistic-number-separator {
    border-bottom: 2px solid black;
    margin: 24px 0;
}

.statistic-number-total {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

.table-header {
    font-size: 30px;
}